body {
  background-color: rgb(110, 55, 55);
}


.header {
  background-color: rgb(172, 134, 134);
  text-align: center;
  height: 2rem;
 
}

.input-form {
  text-align: center;
  margin-top: 2rem;
}

.input {
  border: 2px solid black;
  width: 35rem;
  height: 2.3rem;
}

.add {
  background-color: rgb(166, 150, 122);
  padding: 0.3rem 1rem;
  border: 1px solid black;
}

ul {
  text-align: center;
}

ul li {
  margin: auto;
  margin-top: 1.5rem;
  width: 40rem;
  height: auto;
  background-color: bisque;
  border: 2px solid bisque;
  border-radius: 5px;
  color: rgb(77, 75, 75);
  font-weight: 600;
 overflow-wrap:break-word;
}
ul li span {
  margin-left: 0px;
  color: blueviolet;
  height: 1.5rem;
}
