body {
  background-color: rgb(110, 55, 55);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(172, 134, 134);
  text-align: center;
  height: 2rem;
  border-radius: 5px;
 
}

.input-form {
  text-align: center;
  margin-top: 2rem;
}

.input {
  position: relative;
  height: 65px;
  width: 100%;
  border: 2px solid black;
  height: 2.3rem;
}

.add {
  background-color: rgb(166, 150, 122);
  padding: 0.3rem 1rem;
  border: 1px solid black;
}

ul {
  text-align: center;
}

ul li {
  position: relative;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  padding: 25px;
  margin: 85px auto 0;
  background-color: rgb(172, 134, 134);
  border: 2px;
  color: rgb(77, 75, 75);
  font-weight: 600;
}
ul li span {
  margin-left: 540px;
  color: rgb(0, 0, 1);
  height: 1.5rem;

 
}

.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  padding: 25px;
  margin: 85px auto 0;
  background-color:rgb(119, 83, 83);
  box-shadow: 0 5px 10px #101010;
}

/* Test: Try too sltyle the "delete" item"*/

.result li span{
  position: relative;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  padding: 25px;
  margin: 85px auto 0;
  margin-left: 75%;
}
